<%- include('../partials/header') %>

<h1>Zoo</h1>
<ul>
  <% zoos.forEach(zoo => { %>
    <li>
        <strong>zones</strong> <%= zoo.zone %><br>
        <strong>species</strong> <%= zoo.species %><br>
         <a href="/zoo<%=zoo._id %>">Create a new species</a>
    </li>
    <% }); %>
</ul>

  <%- include('../partials/footer') %>